@import url("fonts.css");
@import url("reset.css");
body {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  color: var(--colorBlack);
}
:root {
  --colorWhite: #fff;
  /* --colorGray: darkgray; */
  --colorBlack: #000;
  --coloGray: #ffffff00;
  --colorDarkWhite: #f8f8f8;
  /* --colorBright: #a09f9f;
  --colorGray2: gray;
  --colorDarkgray: #2f2f2f; */
}
[data-menu-open] body {
  overflow: hidden;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: 65rem;
  /* width: 100%; */
  padding: 0 0.9375rem;
  margin: 0 auto;
  display: flex;
}
.header {
  position: sticky;
  /* position: fixed; */
  top: 0;
  z-index: 100;
  color: var(--colorWhite);
  transition:
    background-color 0.5s ease,
    box-shadow 0.5s ease;
}
.header.header--scrolled {
  background-color: rgba(90, 89, 89, 0.596);
  backdrop-filter: blur(0.25rem);
  box-shadow: inset 0 0.375rem 1.125rem rgba(0, 0, 0, 0.514);
}
.header__container {
  min-height: 6.25rem;
  padding-top: 1.5rem;
  padding-bottom: 1.75rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.header__logo {
  width: 10.5rem;
  margin-right: 26.25rem;
  /* font-size: 2.25rem; */
}
.header__logo p {
  font-size: 2.25rem;
  line-height: 1.3275;
  text-transform: uppercase;
}
.header__icon-menu {
  display: none;
}
.header__menu {
  flex-grow: 1;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
  flex-wrap: wrap;
}
.menu__link {
  line-height: 1.31;
  text-transform: capitalize;
  padding: 0.3125rem;
}
.header .menu__link {
  border-bottom: 0.0625rem solid var(--coloGray);
  transition: border-bottom 0.7s;
}
.header .menu__link:hover {
  border-bottom: 0.0625rem solid var(--colorWhite);
}
.menu__item {
  visibility: hidden;
  translate: -100% 0;
  opacity: 0;
  animation: show-items 1s ease forwards;
}

.menu__item:nth-child(1) {
  animation-delay: 0s;
}
.menu__item:nth-child(2) {
  animation-delay: 0.3s;
}
.menu__item:nth-child(3) {
  animation-delay: 0.6s;
}
.menu__item:nth-child(4) {
  animation-delay: 0.9s;
}
.menu__item:nth-child(5) {
  animation-delay: 1.2s;
}
@keyframes show-items {
  0% {
  }
  100% {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
  }
}

/* ----------------------- */

.hero {
  position: relative;
  color: var(--colorWhite);
  min-height: 100vh;
}

.hero__container {
  height: calc(100vh - 6.25rem);
  width: 100vw;
  margin-bottom: 5.25rem;
}

.hero__img {
  position: absolute;
  top: -6.25rem;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.hero__img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  display: block;
}
.hero__info {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: auto;
}

h1 {
  font-size: 2.9375rem;
  line-height: 1.34;
  margin-bottom: 1.5rem;
}
h3:not(.about-us h3),
h2,
h1 {
  text-transform: capitalize;
}
.hero__info p {
  font-size: 0.875rem;
  line-height: 1.357;
  margin-bottom: 4.875rem;
}

.hero__button {
  width: fit-content;
  padding: 0.6923em 1em;
  transition:
    border-color 0.7s,
    scale 0.7s;
}

.hero__button {
  font-size: 0.8125rem;
  line-height: 1.3;
  color: var(--colorWhite);
  border: 0.0625rem solid var(--colorDarkWhite);
}

.hero__button:hover {
  border-color: transparent;
  scale: 1.05;
}

.hero__button:hover {
  border-bottom-color: var(--colorDarkWhite);
  box-shadow: var(--colorWhite);
}

/* -------------------------------------------------------------------------------------- */
.about-us h3,
h2 {
  font-size: 1.875rem;
  line-height: 1.333;
}

.about-us h2 {
  margin-bottom: 7.1875rem;
}
.about-us__container {
  position: relative;
  flex-direction: column;
  align-items: center;
}
.cosmetics-info__container,
.about-us__container {
  position: relative;
  flex-direction: column;
  align-items: center;
}
.about-us__container {
  padding-bottom: 6.25rem;
  margin-bottom: 0.8125rem;
}
.about-us__container::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 1.75rem;
  width: 95%;
  height: 0.0625rem;
  background: #837f7f;
}
.about-us__content {
  display: flex;
  flex-direction: row;
  gap: 0.9375rem;
  margin-bottom: 8.4375rem;
}
.about-us__info {
  max-width: 28.75rem;
  margin-right: 12rem;
  padding-top: 1.5rem;
}
.about-us h3,
.about-us__text p:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.about-us__text p {
  line-height: 1.3125;
}
.about-us__image {
  max-width: 19.8125rem;
  transform: translateX(22px);

  width: 100%;

  align-self: flex-end;
}
.about-us__image img {
  width: 100%;
  /* aspect-ratio: 485/317; */

  object-fit: contain;
}
.cosmetics-info__button,
.about-us__button {
  width: 8.3125rem;
  height: 2.4375rem;
  font-size: 0.875rem;
  line-height: 1.1875;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  border: 0.0625rem solid var(--colorBlack);
}
.cosmetics-info__button:hover,
.about-us__button:hover {
  box-shadow: var(--colorBlack);
  border: 0.125rem solid var(--colorBlack);
  background-color: rgba(200, 191, 191, 0.596);
}
/* ------------------------------------------------------------------------------------ */
.cosmetics-info__container {
  max-width: 50.3125rem;
  padding-top: 3.125rem;
  margin-bottom: 10rem;
}
.cosmetics-info__title {
  font-size: 2.25rem;
  margin-bottom: 0.86em;
}
.cosmetics-info__menu {
  text-align: center;
  margin-bottom: 6.25rem;
}
.menu__item {
  margin-bottom: 0.125rem;
}
.footer a::after,
.cosmetics-info .menu__link::after {
  content: "";
  position: relative;
  display: block;
  height: 0.0625rem;
  opacity: 0;
  transition: opacity 0.7s;
  margin-top: 0.625rem;
}
.cosmetics-info .menu__link::after {
  left: -23%;
  width: 149.25%;
  background-color: #020202;
}
.footer a:hover:after,
.cosmetics-info .menu__link:hover:after {
  opacity: 1;
}
.cosmetics-info__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13.4375rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 4.75rem 3.75rem;
  width: 100%;
  margin-bottom: 7.375rem;
}

.cosmetics-info__card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0.3125rem;
  transition: box-shadow 0.7s;
}
.cosmetics-info__card > a {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.cosmetics-info__card:hover {
  box-shadow:
    0 0.0625rem 0.1875rem rgba(6, 6, 6, 0.12),
    0 0.3125rem 0.4375rem rgba(30, 28, 28, 0.24);
  background-color: #d7cece;
}
.card__img {
  display: block;
  /* background-color: #837f7f; */
  min-height: 15.625rem;
  overflow: hidden;
}
.card__img img {
  /* display: block;
  aspect-ratio: 200 / 209; */
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* margin-bottom: 1rem; */
}
.cosmetics-info__card h3 {
  font-size: 1.25rem;
  line-height: 1.35;
  text-align: left;
}
.footer {
  background-color: var(--colorBlack);
  padding-block-start: 2.8125rem;
  padding-block-end: 1.4375rem;
  color: var(--colorWhite);
}
.footer__container p {
  width: 100%;
  text-align: center;
}
@media (width < 65.875rem) {
  .header__container {
    min-height: 5rem;
    padding-inline: 1.25rem;
  }
  .header__logo {
    margin-right: 20rem;
  }
  .about-us__info {
    margin-right: 7.5rem;
  }
}
@media (width < 60.25rem) {
  .header__container {
    padding: 0.9375rem;
  }
  .header__logo {
    margin-right: 12.5rem;
  }
  .header__logo p {
    font-size: 1.875rem;
  }
  .hero__container {
    height: calc(100vh - 5rem);
    margin-bottom: 5rem;
  }
  .hero__img {
    top: -5rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  .about-us h2 {
    margin-bottom: 5rem;
  }
  .about-us__content {
    padding-inline: 0.9375rem;
    margin-bottom: 5rem;
  }
  .about-us__info {
    margin-right: 3.125rem;
  }
  .about-us__container::after {
    left: 1.125rem;
  }
  .cosmetics-info__menu {
    margin-bottom: 5rem;
  }
  .cosmetics-info__container {
    margin-bottom: 6.25rem;
  }
}
@media (width < 52.125rem) {
  .header__logo {
    margin-right: 5rem;
  }
  .about-us__content,
  .about-us h2,
  .hero__container {
    margin-bottom: 3.4375rem;
  }
  .hero__info {
    margin-top: 6vh;
    margin-right: 1.25rem;
  }
  h1 {
    font-size: 1.875rem;
  }
  .hero__info p {
    margin-bottom: 3.75rem;
  }
  .about-us__container {
    padding-bottom: 4.375rem;
    margin: 0;
  }
  .about-us__content {
    gap: 1.5625rem;
  }
  .about-us__info {
    padding: 0;
    margin-right: 0;
  }
  .cosmetics-info__container {
    margin-bottom: 5rem;
  }
  .cosmetics-info__title {
    font-size: 1.875rem;
  }
  .cosmetics-info__menu {
    margin-bottom: 2.5rem;
  }
  .menu__link {
    line-height: 1.2;
  }
  .cosmetics-info__cards {
    gap: 2.5rem;
    margin-bottom: 3.75rem;
  }
  .card__img img {
    margin-bottom: 0.3125rem;
  }
  .cosmetics-info__card h3 {
    font-size: 1.125rem;
    line-height: 1.2;
  }
  .footer {
    padding: 0.625rem 0.9375rem;
  }
  .footer p {
    padding: 0.625rem 0;
    margin-bottom: 0;
  }
}
@media (width < 48.5rem) {
  .header__container {
    min-height: 3.125rem;
    padding: 0.9375rem 1.875rem;
    gap: 1.875rem;
    justify-content: space-between;
  }
  .header__icon-menu,
  .header__logo {
    position: relative;
    z-index: 3;
  }
  .header__logo {
    margin: 0;
  }
  .header__icon-menu {
    display: block;
    width: 1.875rem;
    height: 1.5625rem;
    flex-shrink: 0;
  }
  .header__icon-menu span,
  .header__icon-menu::before,
  .header__icon-menu::after {
    content: "";
    height: 0.125rem;
    width: 1.875rem;
    background-color: var(--colorWhite);
    position: absolute;
    right: 0;
    transition: all 0.3s;
  }
  .header__icon-menu::before {
    top: 0;
  }
  .header__icon-menu::after {
    bottom: 0;
  }
  .header__icon-menu span {
    top: 50%;
    translate: 0 -50%;
  }
  .header__menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 100%;
    background-color: rgba(61, 61, 61, 0.973);
    box-shadow: inset 0 0.375rem 1.125rem rgba(0, 0, 0, 0.514);
    z-index: 1;
    overflow: auto;
    transition: left 0.5s;
    padding: 7.5rem 0.9375rem 1.875rem;
    text-align: center;
  }
  .header__menu::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 4.375rem;
    top: 0;
    left: 100%;
    transition: left 0.5s;
    background-color: rgba(90, 89, 89, 0.596);
    backdrop-filter: blur(0.4375rem);
    box-shadow: inset 0 0.375rem 1.125rem rgba(0, 0, 0, 0.514);
    z-index: 2;
  }

  .menu__list {
    flex-direction: column;
    row-gap: 1.875rem;
  }
  .header .menu__link {
    font-size: 1.75rem;
  }
  [data-menu-open] .header__icon-menu span {
    width: 0;
  }
  [data-menu-open] .header__icon-menu::before {
    rotate: -45deg;
    top: 50%;
    translate: 0 -50%;
  }
  [data-menu-open] .header__icon-menu::after {
    rotate: 45deg;
    bottom: 50%;
    translate: 0 50%;
  }
  [data-menu-open] .header__menu,
  [data-menu-open] .header__menu::before {
    left: 0;
  }
  .hero__container {
    height: calc(100vh - 3.125rem);
    margin-bottom: 3.125rem;
  }
  .hero__img {
    top: -4.375rem;
  }
  .hero__info {
    margin-top: 5.5vh;
    margin-right: 0.9375rem;
  }
  .about-us__container {
    padding-bottom: 3.125rem;
  }
  .about-us h2 {
    margin-bottom: 2.5rem;
  }
  .about-us h3 {
    font-size: 1.625rem;
    line-height: 1.3;
    margin-bottom: 1.5625rem;
  }
  .about-us__info {
    max-width: none;
  }
  .about-us__text p:not(:last-child) {
    margin-bottom: 1.125rem;
  }
  .about-us__text p {
    line-height: 1.25;
  }
  .about-us__image {
    min-width: 14.375rem;
  }

  .cosmetics-info__container {
    padding-top: 2.375rem;
  }
  .cosmetics-info__menu {
    margin-bottom: 1.25rem;
  }
  .menu__link {
    line-height: 1;
  }
}
@media (width < 41.75rem) {
  .header__logo p {
    font-size: 1.5rem;
  }
  .header__icon-menu {
    width: 1.5rem;
    height: 1.25rem;
  }
  .hero__img {
    top: -4.375rem;
  }
  .hero__container {
    margin-bottom: 2.5rem;
  }
  .hero__info {
    margin-top: 4vh;
    margin-left: 50%;
  }
  h1 {
    font-size: 1.875rem;
    text-align: center;
  }
  .hero__info p {
    line-height: 1.5;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  .cosmetics-info__title,
  h2 {
    font-size: 1.75rem;
  }
  .about-us__content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
  }
  .about-us h3 {
    font-size: 1.5rem;
    margin-bottom: 1.125rem;
  }
  .about-us__text p {
    font-size: 0.9375rem;
  }
  .about-us__image {
    order: -1;
    max-width: none;
    width: 100%;
    transform: translateX(-0.4rem);
  }
  .about-us__image img {
    width: 100%;
  }
  .cosmetics-info__container {
    padding-top: 1.875rem;
  }
  .cosmetics-info__cards {
    gap: 1.875rem;
    margin-bottom: 2.5rem;
  }
  .footer {
    text-align: center;
  }
}

@media (width < 28.125rem) {
  .header__container {
    padding: 0.625rem 1.25rem;
  }
  .header__logo p {
    font-size: 1.375rem;
  }
  .header__menu {
    padding: 6.25rem 1.25rem 1.25rem;
  }
  .header__menu::before {
    height: 3.125rem;
  }
  .header .menu__list {
    row-gap: 1.25rem;
  }
  .header .menu__link {
    font-size: 1.375rem;
  }
  .hero__img {
    top: -3.125rem;
    filter: blur(0.375rem);
  }
  .hero__info {
    justify-content: space-evenly;
    gap: 0.9375rem;
    margin: 0 auto;
  }
  .hero__button {
    margin-bottom: 3.75rem;
  }
}
@media (width < 16.25rem) {
  .header__logo p {
    font-size: 1.125rem;
  }
  h2,
  .hero__container {
    margin-bottom: 1.875rem;
  }
  h1 {
    font-size: 1.25rem;
    margin-bottom: 0;
  }
  .hero__info p {
    margin-bottom: 0;
  }
  .about-us__container {
    padding-bottom: 2.5rem;
  }
  .cosmetics-info__title,
  h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .about-us__content {
    flex-direction: column-reverse;
  }

  .about-us h3 {
    font-size: 1.25rem;
    text-align: center;
  }

  .about-us__button,
  .hero__button {
    padding: 0.5em;
  }
  .cosmetics-info__title {
    text-align: center;
  }
  .cosmetics-info__cards {
    grid-template-columns: 1fr;
    gap: 1.25rem;
    margin-bottom: 1.875rem;
  }
  .card__img {
    max-width: 100%;
    aspect-ratio: auto;
  }
  .cosmetics-info__card h3 {
    font-size: 1rem;
    line-height: 1.2;
  }
  .footer {
    padding-block: 0;
  }
  .footer p::after {
    margin-top: 0.3125rem;
  }
}
