@import url("reset.css");
@import url("fonts.css");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #333;
  color: #fff;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding-block: 40px;
}
.header__title {
  color: rgb(234, 12, 197);
  font-size: 40px;
  text-align: center;
}
.header__title:hover {
  text-decoration: underline;
  transition: all 0.3s;
}
.sport-car {
  position: relative;
  background-image: url(../img/road.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-bottom: 100px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 40, 0);
  animation: darken 6s forwards ease-in-out;
}
@keyframes darken {
  0% {
    background: rgba(79, 79, 235, 0);
  }
  100% {
    background: rgba(0, 0, 40, 0.55);
  }
}
.moon {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  left: 20%;
  top: 10%;
  opacity: 0;
  box-shadow: 0 0 20px 30px rgba(255, 255, 255, 0.3);
  animation: moonrise 6s forwards ease-in-out;
}
@keyframes moonrise {
  0% {
    top: 10%;
    opacity: 0;
  }
  100% {
    top: 12%;
    opacity: 1;
  }
}
.sport-car__body {
  content: "";
  width: 800px;
  height: 200px;
  background-color: rgb(215, 23, 212);
  border: 10px double rgb(114, 117, 114);
  position: relative;
  top: 550px;
  left: 150px;
  border-radius: 5% 25% 25% 29% / 34% 74% 24% 33%;
}
.sport-car__head {
  content: "";
  width: 600px;
  height: 120px;
  background-color: rgb(4, 4, 4);
  border: 10px double rgb(114, 117, 114);
  position: relative;
  top: 260px;
  left: 200px;
  border-radius: 45% 55% 0% 25% / 100% 99% 0% 0%;
}
.sport-car__window {
  content: "";
  width: 500px;
  height: 100px;
  background-color: rgb(235, 221, 235);
  border: 10px double rgb(28, 29, 28);
  position: relative;
  top: 150px;
  left: 240px;
  border-radius: 45% 55% 0% 25% / 100% 99% 0% 0%;
}
.sport-car__door-handle {
  content: "";
  width: 70px;
  height: 10px;
  background-color: rgb(243, 17, 44);
  border: 10px double rgb(114, 117, 114);
  position: relative;
  top: 170px;
  left: 400px;
}
.sport-car__wheel-left {
  content: "";
  width: 150px;
  height: 150px;
  background-color: rgb(162, 167, 167);
  border-radius: 50%;
  border: 6px dashed rgb(3, 4, 3);
  position: relative;
  top: 170px;
  left: 200px;
  animation: rotate 5s linear infinite;
}
.sport-car__wheel-right {
  content: "";
  width: 150px;
  height: 150px;
  background-color: rgb(162, 167, 167);
  border-radius: 50%;
  border: 6px dashed rgb(3, 4, 3);
  position: relative;
  top: 20px;
  left: 650px;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    transform: rotate(360deg);
  }
}
.sport-car__headlight {
  content: "";
  width: 50px;
  height: 70px;
  background-color: rgb(239, 213, 42);
  border-radius: 50%;
  border: 10px double rgb(16, 17, 16);
  position: relative;
  top: -110px;
  left: 850px;
  box-shadow: 0 0 0 yellow;
  animation: light 2s forwards;
  animation-delay: 4s;
}
@keyframes light {
  0% {
    box-shadow: 15px 1px 10px 10px yellow;
  }
  100% {
    box-shadow: 30px 3px 20px 10px yellow;
  }
}
.sport-car__stop {
  content: "";
  width: 30px;
  height: 70px;
  background-color: rgb(224, 16, 16);
  border-radius: 50%;
  border: 10px double rgb(16, 17, 16);
  position: relative;
  top: -200px;
  left: 170px;
  border-radius: 25% 25% 25% 25% / 25% 25% 25% 25%;
  box-shadow: 0 0 0 red;
  animation: stop 2s forwards;
  animation-delay: 4s;
}
@keyframes stop {
  0% {
    box-shadow: -15px 2px 10px 10px red;
  }
  100% {
    box-shadow: -30px 5px 20px 10px red;
  }
}
footer {
  padding: 50px;
  color: #e025b5;
  text-transform: uppercase;
  line-height: 1.2;
}
