@import url("reset.css");
@import url("fonts.css");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #333;
  color: #fff;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding-block: 40px;
}
.header__title {
  color: rgb(234, 12, 197);
  font-size: 40px;
  text-align: center;
}
.header__title:hover {
  text-decoration: underline;
  transition: all 0.3s;
}
.sport-car {
  position: relative;
  width: 1900px;
  height: 1000px;
  background-image: url(../img/road.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-bottom: 100px;
}
.sport-car__body {
  content: "";
  width: 800px;
  height: 200px;
  background-color: rgb(215, 23, 212);
  border: 10px double rgb(114, 117, 114);
  position: relative;
  top: 550px;
  left: 150px;
  border-radius: 5% 25% 25% 29% / 34% 74% 24% 33%;
}
.sport-car__head {
  content: "";
  width: 600px;
  height: 120px;
  background-color: rgb(4, 4, 4);
  border: 10px double rgb(114, 117, 114);
  position: relative;
  top: 260px;
  left: 200px;
  border-radius: 45% 55% 0% 25% / 100% 99% 0% 0%;
}
.sport-car__window {
  content: "";
  width: 500px;
  height: 100px;
  background-color: rgb(235, 221, 235);
  border: 10px double rgb(28, 29, 28);
  position: relative;
  top: 150px;
  left: 240px;
  border-radius: 45% 55% 0% 25% / 100% 99% 0% 0%;
}
.sport-car__door-handle {
  content: "";
  width: 70px;
  height: 10px;
  background-color: rgb(243, 17, 44);
  border: 10px double rgb(114, 117, 114);
  position: relative;
  top: 170px;
  left: 400px;
}
.sport-car__wheel-left {
  content: "";
  width: 150px;
  height: 150px;
  background-color: rgb(162, 167, 167);
  border-radius: 50%;
  border: 10px double rgb(3, 4, 3);
  position: relative;
  top: 170px;
  left: 200px;
}
.sport-car__wheel-right {
  content: "";
  width: 150px;
  height: 150px;
  background-color: rgb(162, 167, 167);
  border-radius: 50%;
  border: 10px double rgb(3, 4, 3);
  position: relative;
  top: 20px;
  left: 650px;
}
.sport-car__headlight {
  content: "";
  width: 50px;
  height: 70px;
  background-color: rgb(239, 213, 42);
  border-radius: 50%;
  border: 10px double rgb(16, 17, 16);
  position: relative;
  top: -110px;
  left: 850px;
}
.sport-car__stop {
  content: "";
  width: 30px;
  height: 70px;
  background-color: rgb(224, 16, 16);
  border-radius: 50%;
  border: 10px double rgb(16, 17, 16);
  position: relative;
  top: -200px;
  left: 170px;
  border-radius: 25% 25% 25% 25% / 25% 25% 25% 25%;
}
.lesson__caption {
  color: rgb(69, 236, 22);
  font-size: 50px;
  text-align: center;
}
.lesson__caption:hover {
  text-decoration: underline;
  transition: all 0.3s;
}
.practice {
  max-width: 1200px;
}
.block {
  vertical-align: top;
  display: inline-block;
  width: 300px;
  height: 300px;
  margin-top: 70px;
  margin-left: 70px;
  background-color: rgba(255, 255, 255, 0.2);
}
.block__item {
  padding: 50px;
  width: 300px;
  height: 300px;
  background-color: #7a956b;
}
.block__item:not(.block__item--rotate, .block__item--transform-style) {
  margin-right: 50px;
}

.block:hover .block__item--translate {
  translate: 20px 30px;
}
.block:hover .block__item--scale {
  scale: 0 2;
}
.block:hover .block__item--rotate {
  rotate: 20deg;
}
.block:hover .block__item--transform-origin {
  transform: rotate(-45deg);
}
.block:hover .block__item--skew {
  transform: skew(10deg, 10deg);
}
.block {
  transform-style: preserve-3d;
}
.block__item--transform-style:hover {
  transform: rotateX(60deg);
}
footer {
  padding: 50px;
  color: #e025b5;
  text-transform: uppercase;
  line-height: 1.2;
}
