@import url("reset.css");
@import url("fonts.css");

body {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}
.header-top {
  text-align: left;
  font-size: 24px;
  color: brown;
}
.section {
  margin: 0 auto;
  max-width: 1180px;
}
.title-top {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 72px;
  text-align: center;
  color: #151414;
}
.items {
  font-size: 0;
  margin-left: -34px;
  margin-right: -34px;
}
.item {
  padding-left: 34px;
  padding-right: 34px;
  margin-bottom: 68px;
  display: inline-block;
  width: 33.333%;
  vertical-align: top;
  text-align: center;
}
.content {
  font-size: 16px;
}
.img {
  width: 60px;
  height: 60px;
  margin-bottom: 24px;
}
.title-cards {
  font-weight: 700;
  color: #2f302c;
  margin-bottom: 24px;
}
.text {
  color: #7e7f7c;
}
.footer {
  color: rgba(255, 0, 128, 0.935);
  font-size: 20px;
  font-weight: 800;
}
