@font-face {
  font-family: "lato";
  src: url("../fonts/Lato-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "lato";
  src: url("../fonts/Lato-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
