@import url("reset.css");
@import url("fonts.css");

body {
  font-family: "Lato", sans-serif;
  color: #2f302c;
  background-color: #fff;
  line-height: 1.25;
  font-size: 16px;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: 1422px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  text-align: center;
  background-color: #f49ce5;
  z-index: 50;
}
.header__title {
  padding: 5px 0;
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background-size: 300%;

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: moveGradient 10s linear infinite;
}
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}
.register__header {
  padding: 82px 0;
  text-align: center;
}
.register__title {
  margin-bottom: 36px;
}
.form__title,
.register__title,
.promo-block__title {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
  text-transform: uppercase;
}
.register__subtitle {
  color: #7e7f7c;
  font-weight: 700;
  line-height: 1.25;
}
.register__body {
  padding: 82px 0;
  display: flex;
  gap: 80px;
  justify-content: space-between;
}
.register__form {
  flex-basis: 712px;
}
.form__title {
  margin-bottom: 36px;
}
.form__subtitle {
  font-weight: 500;
  line-height: 1.25;
  color: #7e7f7c;
  margin-bottom: 72px;
}
.form__link {
  font-weight: 700;
  line-height: 1.25;
  color: #2f302c;
  display: inline-block;
  transition: transform 0.15s ease;
}
.form__link:hover {
  text-decoration: underline;
}
.form__link:active {
  transform: scale(0.96);
}
.block-form {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.block-form__body {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.block-form__row {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.block-form__name,
.block-form__email,
.block-form__password,
.block-form__password-reset {
  flex-basis: 336px;
  max-width: 100%;
}
.block-form__phone {
  max-width: 100%;
}
.block-form__input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}
.block-form__input {
  padding: 12px 0;
  border-bottom: 1px solid #d4d4d4;
}
.block-form__button {
  max-width: 336px;
  height: 44px;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #fff;
  background-color: #2f302c;
  transition-duration: 0.3s;
  display: inline-block;
  transition: transform 0.15s ease;
}
.block-form__button:hover {
  background-color: #585858;
}
.block-form__button:active {
  background-color: #2f302c;
  transform: scale(0.96);
}
.promo-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 496px;
  padding: 60px 50px 60px 80px;
  position: relative;
  flex: 0 1 600px;
  overflow: hidden;
  background-color: #f6f6f6;
  z-index: -1;
}
.promo-block__image {
  position: absolute;
  top: 0;
  right: 50px;
  z-index: -1;
}
.promo-block__info {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-width: 184px;
}
.promo-block__badge {
  align-self: flex-start;
  padding: 4px 8px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ce0000;
  border-radius: 4px;
}
footer {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  color: #ce0000;
}
