@import url("https://fonts.googleapis.com/css2?family=Playfair%20Display%20SC:wght@400&display=swap");

@font-face {
  font-family: "Playfair Display";
  src: url("") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
