@import url("reset.css");
@import url("fonts.css");

body {
  font-family: "Playfair Display", sans-serif;
  background-color: rgb(238, 149, 237);
  color: #fff;
  padding: 30px;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
}
.header {
  position: sticky;
  top: 0;
  background: #df1d9b;
  box-shadow: 0 0 20px #121211;
  padding: 15px;
  margin-bottom: 60px;
  z-index: 10;
}
[class*="__container"] {
  margin: 0 auto;
  max-width: 1000px;
}
.menu__list {
  font-size: 0;
  text-align: center;
}
.menu__item,
.submenu__item,
.dropdown__item {
  font-size: 18px;
  position: relative;
  display: inline-block;
  text-align: left;
}
.menu__item:hover .menu__link {
  background-color: rgb(5, 57, 92);
}
.menu__item:hover .menu__submenu,
.submenu__item:hover .submenu__list {
  opacity: 1;
  visibility: visible;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}
.menu__link {
  padding: 10px 30px;
  display: block;
  font-size: 32px;
  transition: all 0.6s;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__submenu {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  width: 110px;
  background-color: rgb(5, 57, 92);
  transition: all 0.2s;
}
.submenu {
  width: 220px;
  padding: 10px;
}
.submenu__item,
.dropdown__item {
  position: relative;
  display: block;
  z-index: 2;
}
.submenu__item:hover {
  background-color: aliceblue;
  color: rgb(235, 14, 110);
}
.submenu__item:hover .submenu__link {
  color: #121211;
}
.submenu__link {
  padding: 10px;
  display: block;
}
.submenu__link {
  color: rgb(235, 14, 110);
}

.submenu__list {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 105%;
  bottom: -56px;
  width: 120px;
  background-color: rgb(5, 57, 92);
  transition: all 0.2s;
}
.dropdown {
  width: 230px;
  padding: 10px 10px;
}
.dropdown__link {
  padding: 5px;
  display: block;
}
.dropdown__link:hover {
  text-decoration: underline;
  color: rgb(196, 255, 214);
}

.hero__container {
  max-width: 1000px;
  margin: 0 auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
h1 {
  font-size: 20px;
  margin-top: 46px;
  text-align: center;
  margin-bottom: 48px;
}
h1:hover {
  text-decoration: underline;
  color: #df1d9b;
  transition: all 0.6s;
}
.hero__container {
  font-size: 0;
}
.hero__blocks {
  text-align: left;
}
.block__face {
  display: inline-block;
  position: relative;
  max-width: 251px;
  width: 333.33px;
  min-height: 315px;
}
.block__face:not(.block__face--mask) {
  margin-right: 123px;
}
.block__face > * {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.block__face:hover > * {
  visibility: visible;
  opacity: 1;
}
.hero__blocks {
  display: block;
  margin: 0 0 77px;
}
.block__face p {
  position: absolute;
  color: #fff;
  font-size: 28px;
  line-height: 1.2;
}
.block__face a {
  position: absolute;
  font-size: 17px;
  line-height: 1.2;
  color: #fff;
}
.hero__blocks a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  transition: all 0.6s;
}
.block__face--cleancer {
  background-image: url("../img/cleanser.png");
  filter: brightness(1.8);
  transition: all 0.3s;
}
.block__face--cleancer:hover,
.block__face--patches:hover,
.block__face--mask:hover {
  filter: brightness(1);
}
.block__face--cleancer p {
  position: absolute;
  top: 110px;
  left: 63px;
}
.block__face--patches {
  background-image: url("../img/patches.png");
  filter: brightness(1.8);
  transition: all 0.3s;
}
.block__face--patches p {
  position: absolute;
  top: 110px;
  left: 51px;
}
.block__face--patches a,
.block__face--mask a,
.block__face--cleancer a {
  position: absolute;
  top: 280px;
  left: 105px;
}
.block__face--mask {
  background-image: url("../img/mask.png");
  filter: brightness(1.8);
  transition: all 0.3s;
}
.block__face--mask p {
  position: absolute;
  top: 110px;
  left: 86px;
}
.button {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 77px;
  margin-bottom: 66px;
  padding: 10px 50px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  background-color: #ed78ca;
  color: #0b0a0b;
  font-weight: 500;
}
.list {
  padding-top: 5px;
  padding-left: 100px;
  margin-top: 40px;
}
.list__item {
  position: relative;
  min-height: 30px;
  padding-left: 40px;
  line-height: 1.2;
}
.list__item::before {
  content: "";
  background: url(../img/check.svg) 0 0/ 100% no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: -5px;
}
.list__item:not(:last-child) {
  margin-bottom: 15px;
}
.info {
  padding-left: 40px;
  padding-top: 50px;
}
h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
h2:hover {
  scale: 0.9;
  color: #df1d9b;
}
footer {
  margin-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
