@import url("reset.css");
@import url("fonts.css");

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.arrow {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-right: 100px solid plum;
  border-bottom: 40px solid transparent;
  margin-top: 50px;
}
.text-ad {
  font-size: 20px;
  margin-bottom: 20px;
  color: #8e4cf9;
  margin-left: 105px;
  padding-left: 20px;
}
.block {
  color: #f0940a;
  max-width: 1390px;
  margin-inline: auto;
  padding-inline: 15px;
}
.block_container {
  padding-top: 114px;
  padding-bottom: 110px;
  min-height: 612px;
  color: #2f302c;
  background: #d4d4d4 url(/img/test.jpg) center / cover no-repeat;
  margin-bottom: 30px;
}
.block__content {
  max-width: 650px;
  margin-left: auto;
}
h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  color: #2f302c;
}
.block__title {
  margin-bottom: 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 96px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}
.block__title-sp {
  font-weight: 700;
}
.block__inline {
  margin-bottom: 36px;
  max-width: 308px;
  height: 1px;
  background-color: #2f302c;
}

.block__text {
  max-width: 374px;
  font-weight: 500;
  line-height: 1.25;
  color: #7e7f7c;
}
.block-2__card__list {
  margin-left: 30px;
}
.block-2__card-green,
.block-2__card-grey {
  padding-left: 45px;
  background: url(/img/check.svg) 0 0 no-repeat;
  margin-bottom: 10px;
  min-height: 32px;
  line-height: 2.2;
}
.block-2__card-grey {
  background: url(/img/check-grey.svg) 0 0 no-repeat;
}

.img {
  border-top: 2px solid pink;
  border-right: 3px dotted blue;
  border-bottom: 3px double red;
  border-left: 4px dashed yellow;
  outline: 2px solid blue;
  height: 300px;
  width: 300px;
  margin-left: 40px;
  margin-bottom: 30px;
}
.block-3__info {
  background-color: #f0940a;
  border-radius: 35% 55% 57% 38% / 35% 47% 25% 25%;
}
.block-4 {
  background-color: #74b9de;
}
.img-room {
  height: 300px;
  width: 300px;
}
.block-4__info {
  opacity: 50%;
}
.footer-info {
  background-color: #74b9de;
  text-align: center;
}
.cercle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #e3d1cd;
}
