@import url("reset.css");
@import url("fonts.css");
body {
  font-family: "Lato", sans-serif;
  color: #7e7f7c;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  background-color: #fff;
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

/* .wrapper > main {
  flex-grow: 1;
} */
[class*="__container"] {
  max-width: 1422px;
  margin: 0 auto;
  padding: 0 15px;
  /* display: flex; */
}
.header__block {
  border: 1px solid #00e5ff;
  overflow: hidden;
  background-color: #9fe9f1;
}
.header__block div {
  animation: running-text 15s linear infinite;
}
.header__text {
  display: inline-block;
  padding: 15px;
  font-size: 30px;
  text-align: center;
  color: rgb(30, 21, 193);
}
@keyframes running-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.hero {
  padding: 82px 0;
}
.hero__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(321px, 1fr));
  gap: 36px;
}
.hero__item {
  display: flex;
  flex-direction: column;
}
.hero__item--left,
.hero__item--right {
  background-color: #f7f7f7;
}
.hero__item--big {
  padding: 48px 0 51px 0;
  background-color: #e6efea;
  align-items: center;
  text-align: center;
  grid-column: span 2;
}
@media (width<1422px) {
  .hero__item--big {
    grid-column: span 1;
  }
  .hero {
    padding: 20px 0;
  }
}
.hero__item--big .hero__text p {
  max-width: 310px;
}
.hero__item--right {
  padding: 48px 47px 0 36px;
}
.hero__item--right .hero__media {
  max-width: 263px;
  transform: translate(12%);
}
.hero__media img {
  max-width: 100%;
  height: auto;
  display: block;
}
.hero__item--left {
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 0px 50px 64px 32px;
}
.hero__item--left .hero__content {
  flex-grow: 0;
}
.hero__item--left .hero__media {
  max-width: 209px;
  align-self: flex-end;
  transform: translate(12%);
}
.hero__content {
  flex-grow: 1;
}
.hero__title {
  color: #2f302c;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4;
  margin-bottom: 24px;
}
.hero__text p {
  color: #7e7f7c;

  margin-bottom: 38px;
}
.hero__link-more {
  color: #7e7f7c;
  position: relative;
  transition: color 0.3s;
}
.hero__link::after {
  position: absolute;
  top: 8px;
  right: -15px;
  width: 5px;
  height: 8px;

  transition: transform 0.3s ease;
  content: "";
}
.hero__link span {
  position: relative;
  display: inline-block;
}
.hero__link span::after {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  height: 1px;
  background-color: #3f5656;
  transform-origin: bottom right;
  pointer-events: none;
  transition: transform 0.3s ease;
  content: "";
}
@media (any-hover: hover), (pointer: fine) {
  .hero__link:hover {
    color: #000000;
  }
  .hero__link:hover::after {
    transform: translateX(30%);
  }
  .hero__link:hover span::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
@media (width<=768px) {
  .hero {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .hero__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.partners {
  padding: 82px 0;
}
.partners__container {
  text-align: center;
}
.partners__title {
  color: #2f302c;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 72px;
}
.partners__items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
@media (width<1422px) {
  .partners {
    padding: 15px 0;
  }
  .partners__title {
    margin-bottom: 10px;
  }
  .partners__items {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (width<768px) {
  .partners__title {
    margin-bottom: 10px;
  }
  .partners__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
.partners__item img {
  max-width: 100%;
  height: auto;
  display: block;
}
.products {
  padding: 82px 0;
}
.products__title {
  text-align: center;
  color: #2f302c;
  font-size: 32px;
  font-weight: 800;

  margin-bottom: 36px;
}
.products__menu {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.menu__products {
  display: flex;
  gap: 48px;
}
@media (width<768px) {
  .menu__products {
    display: flex;
    gap: 10px;
  }
}
.menu__products__link {
  color: #2f302c;
  font-weight: 700;
}
.menu__products__link:hover {
  color: #2f302c;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.products__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 36px;
  row-gap: 72px;
}
@media (width<1024px) {
  .products {
    padding: 20px 0;
  }
  .products__items {
    grid-template-columns: 1fr 1fr;

    column-gap: 18px;
    row-gap: 37px;
  }
}

@media (width<660px) {
  .products__items {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .products__item .item__img {
    max-width: 500px;
    object-fit: contain;
  }
}

.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item > *:not(:last-child) {
  margin-bottom: 12px;
}
.item__link {
  overflow: hidden;
}
.products__item .item__img {
  margin-bottom: 32px;
  aspect-ratio: 440/574;
  width: 100%;
  height: 100%;
  transition: scale 0.3s;
}
.products__item .item__img:hover {
  scale: 1.1;
}
.item__title-link {
  text-align: center;
  color: #2f302c;
}
.item__price {
  color: #2f302c;
  font-size: 20px;
  font-weight: 800;
}
.advantages {
  padding: 82px 0;
}
.advantages__title-top {
  text-align: center;
  font-weight: 800;
  color: #2f302c;
  font-size: 32px;

  margin-bottom: 72px;
}
.advantages__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 68px;
  row-gap: 68px;
}
.advantages__item {
  text-align: center;
}
.advantages__item > *:not(:last-child) {
  margin-bottom: 24px;
}
.advantages__item img {
  width: 55px;
  height: 55px;
  object-fit: contain;
}
.advantages__title {
  color: #2f302c;
  font-weight: 700;
}
.advantages__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__text p {
  color: #7e7f7c;
}
.advantages__text p:not(:last-child) {
  margin-bottom: 15px;
}
@media (width<1024px) {
  .advantages {
    padding: 20px 0;
  }
  .advantages__items {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 37px;
  }
}
@media (width<660px) {
  .advantages__items {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
.footer {
  padding: 50px 0;
}
.footer__text img {
  top: 1px;
  width: 30px;
  height: 40px;
}
.footer__link {
  font-size: 20px;
  color: black;
  text-shadow:
    0 0 5px #00e5ff,
    0 0 10px #00e5ff,
    0 0 20px #00e5ff;
}
