@import url("reset.css");
@import url("fonts.css");

body {
  font-family: "lato", sans-serif;
  font-size: 16px;
  color: #2f302c;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: 1392px;
  margin: 0 auto;
}
header {
  color: rgb(232, 53, 238);
  font-size: 28px;
  font-weight: 800;
}
.block__title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 136px;
  text-align: center;
}
/* flex-контейнер */
.block__items {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 36px;
  margin-bottom: 82px;
}

/* flex-елемент */
.item-block {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}

.item-block__link {
  margin-bottom: 32px;
}
.item-block__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 12px;
}
.item-block__title {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  line-height: 1.25;
  max-width: 440px;
  text-transform: uppercase;
  flex-grow: 1;
}
.item-block__link-title:hover {
  text-decoration: underline;
}
.item-block__stars {
  gap: 4px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.item-block__list {
  display: flex;
  column-gap: 4px;
  align-self: center;
}

.item-block__price {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4;
}

/* ------------------------------------------------------------------- */
.section {
  text-align: center;
}
.section__title {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 72px;
}
.section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 68px 68px;
  margin-bottom: 82px;
  max-width: 1180px;
  margin: 0 auto;
}
.section__item {
  flex: 0 1 348px;
}
.card__img:not(:last-child) {
  margin-bottom: 24px;
}
.card__title:not(:last-child) {
  margin-bottom: 24px;
}
.card__title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.25;
}
.card__text {
  font-weight: 500;
  line-height: 1.25;
  color: #7e7f7c;
}
footer {
  color: rgb(255, 0, 191);
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 800;
}
